/* ========== Fonts ========== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: var(--font-family-sans-serif);
}

/* ========== CSS Variables ========== */

:root {
  --font-family-sans-serif: 'Nunito', sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas;
  --accent-color: #ff9500;

  --primary-100: #120C03; /* Dark */
  --primary-200: #5A3808;
  --primary-300: #A96607;
  --primary-400: #FF9500; /* Base */
  --primary-500: #FFA92F;
  --primary-600: #FFBC5E;
  --primary-700: #FFD08D;
  --primary-800: #FFE3BC;
  --primary-900: #FFF7EB; /* Light */

  --grey-100: #080808; /* Dark */
  --grey-200: #1C1C1C;
  --grey-300: #303030;
  --grey-400: #444444; /* Base */
  --grey-500: #686868;
  --grey-600: #8C8C8C;
  --grey-700: #B0B0B0;
  --grey-800: #D4D4D4;
  --grey-900: #F8F8F8; /* Light */

  --informational-100: #00171D; /* Dark */
  --informational-200: #004F62;
  --informational-300: #0088A8;
  --informational-400: #00C0EE; /* Base */
  --informational-500: #31CCF1;
  --informational-600: #62D8F5;
  --informational-700: #93E4F8;
  --informational-800: #C4F0FB;
  --informational-900: #F5FDFE; /* Light */

  --success-100: #0C1500; /* Dark */
  --success-200: #2A4900;
  --success-300: #487C00;
  --success-400: #66B000; /* Base */
  --success-500: #83BF31;
  --success-600: #A1CE62;
  --success-700: #BEDE93;
  --success-800: #DCEDC4;
  --success-900: #F9FCF5; /* Light */

  --critical-100: #190100; /* Dark */
  --critical-200: #540500;
  --critical-300: #900800;
  --critical-400: #CC0B00; /* Base */
  --critical-500: #D63A31;
  --critical-600: #E06962;
  --critical-700: #E99893;
  --critical-800: #F3C6C4;
  --critical-900: #FDF5F5; /* Light */
}

/* ========== Import Tailwind ========== */
// See <https://tailwindcss.com/docs/installation#include-tailwind-in-your-css>

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== Imports ========== */

@import 'mixins';

/* ========== Other ========== */

/* Common CSS */
body {
  @apply font-rounded;
}

html, body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, .h1, .display-1 {
  font-weight: 800;
}

h2, .h2, .display-2 {
  font-weight: 700;
}

h3, .h3, .display-3 {
  font-weight: 600;
}

h4, .h4, .display-4 {
  font-weight: 500;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.colored-links a {
  @apply text-primary-500 dark:text-primary-400 hover:underline;
}

.underline-hovered-links a:hover {
  @apply underline;
}

.disabled {
  @apply text-muted;
}

.text-muted {
  @apply text-gray-500 dark:text-gray-400;
}

.bg-1 {
  background-image: url(../images/call-to-action.jpg);
}

.bg-accent {
  background: var(--accent-color);
}

.bg-opacity {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

a:focus, .btn:focus, .btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a, a:active, a:focus, a:active {
  text-decoration: none;
}

.btn-main {
  color: #fff;
  border-radius: 1.75em;
  font-size: 1.25em;
  padding: 0.5em 1.5em;
  background-color: var(--accent-color);
  box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);

  &:hover, &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
}

/* navigation */
.navbar {
  &-brand {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px !important;
}

.nav-link.active {
  color: #f9a743 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

.badge-primary{
  background-color: var(--accent-color);
}

/*--
  Gallery start
--*/
.gallery {
  padding-bottom: 100px;

  .owl-item {
    overflow: hidden;
    position: relative;
  }

  .block {
    padding: 20px;
    position: relative;

    &:hover .gallery-overlay {
      transform: scale(1);
      opacity: 1;
      border-radius: 0;
    }
  }

  .gallery-overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
    background: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    color: inherit;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 2;
    opacity: 0;
    border-radius: 50%;

    .gallery-popup {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: var(--accent-color);
      padding: 5px 10px;
      border-radius: 40px;
      width: 50px;
      height: 50px;

      i {
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        display: inline-block;
      }
    }
  }
}

/*--
    call-to-action start
--*/
.call-to-action {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
  margin-top: 30px;
  position: relative;

  .btn-submit {
    padding: 10.5px 40px !important;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    top: 0;
    right: 0;
  }

  input {
    height: 50px;
    border-radius: 40px;
    border: none;
    padding-left: 15px;
    box-shadow: none;
    display: table-cell;
  }
}

.form-control {
  border: 1px solid #dadada;
  border-radius: 35px;
  height: 50px;

  &:focus {
    border-color: var(--accent-color);
    box-shadow: none;
  }

  &::placeholder {
    font-size: 80%;
  }
}

textarea.form-control {
  height: 150px;
  padding-top: 15px;
}

.sticky-image {
  position: sticky;
  top: 100px;
  z-index: 1;
}


/* App single page */

.app-image-slider {
  // position: sticky;

  // .slick-list {
  //   margin-bottom: 1rem;
  // }

  // .slick-slide {
  //   outline: 0;
  // }

  // .slick-dots {
  //   padding-left: 0;
  //   display: flex;

  //   li {
  //     list-style-type: none;
  //     padding: 0.2rem;
  //     cursor: pointer;
  //     opacity: 0.5;

  //     &.slick-active {
  //       opacity: 1;
  //     }

  //     &:first-child {
  //       margin-left: 0;
  //     }

  //     &:last-child {
  //       margin-right: 0;
  //     }

  //     img {
  //       max-height: 128px;
  //       height: auto;
  //     }
  //   }
  // }
}

/* content style */
.blog-post {
  @apply colored-links;

  & h1 {
    @apply text-4xl;
  }
  & h2 {
    @apply text-3xl mt-6 mb-2;
  }
  & h3 {
    @apply text-3xl mt-4 mb-2;
  }
  & h4 {
    @apply text-xl my-2;
  }
  & h5 {
    @apply text-lg my-2;
  }
  & h6 {
    @apply my-2;
  }

  & p {
    @apply mb-3;
  }
  & code {
    @apply text-indigo-500;
  }

  & ul {
    list-style-type: disc;
  }
  & ol {
    list-style-type: decimal;
  }
  & ul, & ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }
  & ul ul, & ol ol {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  & figure {
    text-align: center;

    img {
      @apply mx-auto border border-gray-300 dark:border-gray-600;
      width: auto;
      max-width: 100%;
      max-height: 50vh;
      object-fit: cover;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    figcaption {
      @apply text-muted;
      font-style: italic;
    }
  }
}
.content {
  table {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;

    thead {
      @apply bg-gray-200 dark:bg-gray-700;
    }
    tbody {
      @apply bg-gray-100 dark:bg-gray-800;
    }
    th, td {
      @apply p-3 border-2 border-gray-300 dark:border-gray-600;
      vertical-align: top;
    }
  }

  blockquote {
    // margin: 1em -1em;
    @apply bg-primary-100 dark:bg-primary-900 shadow my-4 lg:-mx-4;
    padding: 1em;
    border-left: 2px solid var(--primary-500);
    border-radius: 0.5rem;

    p {
      margin-bottom: 0;
      font-style: italic;
      font-size: 1.2em;
    }
  }

  pre {
    padding: 10px 20px;
    background: #dadada;
  }
}
.app-details-content {
  & h3 {
    @apply text-6xl font-bold mb-8 capitalize;
  }
  & h3:not(:first-of-type) {
    @apply mt-16 md:mt-36;
  }
  & p {
    @apply text-2xl mb-4;
  }
}

.link-title {
  color: inherit;
  text-decoration: none !important;
  &:hover {
    color: var(--accent-color);
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:block {
    display: block !important;
  }
  .dark\:hidden {
    display: none !important;
  }
}
