{{ define "main" }}
<main class="max-w-7xl mx-auto p-4 my-4 sm:my-8 md:my-12 lg:my-16 xl:my-20">
  <h1 class="text-4xl mb-6 sm:text-center">{{ .Title }}</h1>
  <div class="max-w-2xl mx-auto grid gap-6">
    {{- range .Params.contacts }}
    <div class="bg-gray-200 dark:bg-gray-800 shadow rounded-xl p-6 colored-links">
      <h2 class="text-4xl">{{ .title | markdownify }}</h2>
      <p class="my-3">{{ .content | markdownify }}</p>
      {{- partial "socials" . }}
    </div>
    {{- end }}
  </div>
</main>
{{ end }}